.searchContainer {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 500;
  font-size: 24px;
}

.search {
  position: relative;
}

input {
  width: 282px;
  padding: 12px 45px 12px 12px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
  color: #9e9e9e;
}

.resetSearch {
  position: absolute;
  top: 11%;
  right: 20px;
  z-index: 10;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 10px;

  color: #7d7d7d;
}

.submitSearch {
  position: absolute;
  top: 14%;
  right: 3px;
  z-index: 10;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 10px;

  color: #7d7d7d;
}

.submitSearch:disabled,
.resetSearch:disabled {
  cursor: not-allowed;
}

@media only screen and (max-width: 576px) {
  .searchContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
