.employeesTable {
  overflow-x: auto;

  margin-top: 35px;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0px 0px;
}

.employeesTable table {
  border-collapse: collapse;
  width: 100%;
}

.employeesTable tr {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.employeesTable thead th {
  padding: 15px 0;

  background-color: #5984c0;
  color: #fff;

  font-weight: 500;
  text-transform: uppercase;
}

.employeesTable th,
td {
  border-bottom: 1px solid #ddd;

  text-align: center;
  font-size: 16px;
}

.employeesTable td {
  background-color: #fff;
  padding: 5px 10px;
  font-weight: 400;
}

.employeesTable td img {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

@media only screen and (max-width: 576px) {
  .employeesTable td {
    padding: 8px 20px;
  }

  .employeesTable thead th {
    padding: 8px;
  }
}
